// .backgroundImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// } khi kế thừa thì class đc hiện lên và biên dịch trên code css, vd: .backgroundImg, . cover

//placeholder
%backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}